/* Container for options (e.g., For you, Liked) */
#optionsDiv {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#optionsDiv h2 {
  font-size: 20px;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}

#optionsDiv h2:hover {
  color: #0066cc;
}

/* Posts container */
#posts {
  max-width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: flex-start; /* Align items to the left */
}

/* Individual post */
.postPostPage {
  width: 450px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(81, 166, 255, 0.2);
  transition: transform 0.3s ease;
}

.postPostPage:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(81, 166, 255, 0.3);
}

/* Post title */
.postTitlePostPage {
  font-size: 24px;
  font-weight: bold;
  color: #0066cc;
  margin-bottom: 10px;
}

/* Author name */
.authorNamePostPage {
  font-size: 14px;
  color: #888888;
  margin-bottom: 10px;
}

/* Post content */
.postContentPostPage {
  font-size: 16px;
  line-height: 1.6;
  color: #444444;
  margin-bottom: 15px;
}

/* Likes section */
.postLikesPostPage {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Heart icon */
.heartPostPage {
  width: 10%;
  height: 10%;
  cursor: pointer;
}
